<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.AdminMapper">

	<select id="listMember" resultType="com.itwillbs.domain.UserVO" > 
 		select * from user 
   		order by user_num desc
    	LIMIT #{startRow}, #{pageSize}
	</select> 

	<select id="countMemberList" resultType="java.lang.Integer" > 
 		select count(*) from user
	</select> 

	<insert id="LectureUpdate">
		INSERT INTO lecture 
		(lecture_title, category_detail, lecture_detail, lecture_author, lecture_price, lecture_img)
		values(#{lecture_title}, #{category_detail}, #{lecture_detail}, #{lecture_author}, #{lecture_price}, #{lecture_img})
	</insert>

	<select id="listLecture" resultType="com.itwillbs.domain.LectureVO" > 
 		select * from lecture 
   		order by lecture_num desc
    	LIMIT #{startRow}, #{pageSize}
	</select> 
	
	<select id="countlectureList" resultType="java.lang.Integer" > 
 		select count(*) from lecture
	</select> 
	
	<delete id="deleteClass">
		delete from lecture
		where lecture_num = #{lecture_num};
	</delete>
	
	<select id="insertMember" resultType="com.itwillbs.domain.UserVO">
		select * from user
		where user_num = #{user_num}
	</select>
	
	<update id="adminUserUpdate" parameterType="com.itwillbs.domain.UserVO">
		update user
		set user_role = #{user_role}
		where user_num = #{user_num}
	</update>

</mapper>