<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.MemberMapper">

	<update id="updateProMember">
		update user
		set user_phone = #{user_phone},
		user_email = #{user_email},
		user_zipcode = #{user_zipcode},
		user_address1 = #{user_address1},
		user_address2 = #{user_address2}
		<if test="user_password != null and user_password != ''">
			, user_password = #{user_password}
		</if>
		<if test="user_file != null and user_file != ''">
			, user_file = #{user_file}
		</if>
		where user_id = #{user_id}
	</update>

	<select id="insertMember" parameterType="string"
		resultType="com.itwillbs.domain.UserVO">
		select * from user
		where user_id = #{user_id}
	</select>

	<update id="memberDelete">
		update user
   		set user_status = 'self-withdraw'
    	where user_num = #{user_num}
	</update>
	
	<!-- 강사 강의 승인 리스트 -->
	<select id="approvalClass" parameterType="map" resultType="com.itwillbs.domain.LectureVO">
		select * from lecture
		where lecture_author = #{user_name}
		and status = 'approval'
		LIMIT #{pageVO.startRow}, #{pageVO.pageSize}		
	</select>
	
	<!-- 강사 강의 대기 리스트 -->
	<select id="waitingClass" parameterType="map" resultType="com.itwillbs.domain.LectureVO">
		select * from lecture
		where lecture_author = #{user_name}
		and (status = 'waiting' or status = 'deleteWaiting')
		LIMIT #{pageVO.startRow}, #{pageVO.pageSize}	
	</select>
	
	<!-- 강사 강의 보류 리스트 -->
	<select id="rejectClass" parameterType="map" resultType="com.itwillbs.domain.LectureVO">
		select * from lecture
		where lecture_author = #{user_name}
		and status = 'reject'	
		LIMIT #{pageVO.startRow}, #{pageVO.pageSize}		
	</select>
	
	<!-- 강사 강의 삭제 리스트 -->
	<select id="deleteClass" parameterType="map" resultType="com.itwillbs.domain.LectureVO">
		select * from lecture
		where lecture_author = #{user_name}
		and status = 'delete'	
		LIMIT #{pageVO.startRow}, #{pageVO.pageSize}	
	</select>
	
<!-- 강사 강의 전체 리스트 -->
	<select id="manageMyCourses" parameterType="map" resultType="com.itwillbs.domain.LectureVO">
		select * from lecture
		where lecture_author = #{user_name}
		order by lecture_num desc
		LIMIT #{pageVO.startRow}, #{pageVO.pageSize}	
	</select>

<!-- 강사당 총 강의수 -->
	<select id="teacherMyPage" resultType="java.lang.Integer" parameterType="map">
		select count(*) from lecture
		where lecture_author = #{user_name}
	</select>
	
<!-- 강사당 승인된 강의수 -->
	<select id="teacherMyPageOk" parameterType="map"  resultType="java.lang.Integer">
		select count(*) from lecture
		where lecture_author = #{user_name} and status = 'approval'
	</select>
	
<!-- 강사당 삭제된 강의수 -->
	<select id="teacherMyPageDelete" parameterType="map"  resultType="java.lang.Integer">
		select count(*) from lecture
		where lecture_author = #{user_name} and status = 'delete'
	</select>

<!-- 강사당 승인대기중인 강의수 -->
	<select id="teacherMyPageWaiting" parameterType="map"  resultType="java.lang.Integer">
		select count(*) from lecture
		where lecture_author = #{user_name} and (status = 'waiting' or status = 'deleteWaiting')
	</select>

<!-- 강사당 반려 강의수 -->
	<select id="teacherMyPageReject" parameterType="map"  resultType="java.lang.Integer">
		select count(*) from lecture
		where lecture_author = #{user_name} and status = 'reject'
	</select>

	<insert id="LectureUpdate" parameterType="com.itwillbs.domain.LectureVO" 
		useGeneratedKeys="true" keyProperty="lecture_num">
		INSERT INTO lecture
		(lecture_title, category_detail, lecture_detail, lecture_author, 
		lecture_price, lecture_img, lecture_tag, user_num, status)
		VALUES(#{lecture_title}, #{category_detail}, #{lecture_detail}, 
		#{lecture_author}, #{lecture_price}, #{lecture_img}, #{lecture_tag}, #{user_num}, 'waiting')
	</insert>

	<insert id="insertChapter" parameterType="com.itwillbs.domain.ChapterVO" 
		useGeneratedKeys="true" keyProperty="chapter_num">
		INSERT INTO chapter (lecture_num, chapter_order, chapter_title)
		VALUES (#{lecture_num}, #{chapter_order}, #{chapter_title})
	</insert>

	<insert id="insertChapterDetail" parameterType="com.itwillbs.domain.ChapterDetailVO"
		useGeneratedKeys="true" keyProperty="detail_num">
		INSERT INTO chapter_detail (chapter_num, detail_order, detail_title, detail_time)
		VALUES (#{chapter_num}, #{detail_order}, #{detail_title}, #{detail_time})
	</insert>

	<update id="deleteRequest" parameterType="int">
	    update lecture set status = 'deleteWaiting' where lecture_num = #{lecture_num}
	</update>

	<!-- 미승인 사유 -->
	<select id="classReason" parameterType="int" resultType="com.itwillbs.domain.NotApprovedVO">
		select * from not_approved
		where lecture_num = #{lecture_num}
		order by reason_num desc
    	limit 1
	</select>

<!-- 강의 삭제 취소 요청 -->
	<update id="deleteCencel">
    	UPDATE lecture
    	SET status = 'cancelDelete'
    	WHERE lecture_num = #{lecture_num}
	</update>






</mapper>