@charset "UTF-8";

/* =========================================================
   GLOBAL RESET
========================================================= */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		sans-serif;
}

body {
	background: #f4f6fa;
	color: #222;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
main{
	padding-bottom:30px;
}

.faq-detail-wrap {
    max-width: 900px;
    margin: 50px auto;
    padding: 10px;
}

.faq-detail-question {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #111;
}

.faq-detail-answer {
    background: #f3f4f6;
    padding: 25px;
    border-radius: 10px;
    line-height: 1.6;
    color: #333;
    white-space: pre-line;
}

/* 버튼 */
.faq-back-btn {
    margin-top: 25px;
    background: #2563eb;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
}

.faq-back-btn:hover {
    background: #1d4ed8;
}
